body {
  background-color:#efefff;
}
.Main {
  box-shadow: 0 3px 9px 0;
  margin: 100px auto;
  width: 400px;
  padding: 25px;
  border-radius: 15px;
}

.option-block {
  line-height: 1.8em;
  margin-top: 2em;
}

.option {
  box-shadow: 0 1px 4px 0 #000;
  max-width: 14em;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  color: darkblue;
  cursor: pointer;
}

.option:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.1s;
}

.option-text {
  margin: auto;
  padding: 0 10px;
}


.question-block {
  font-size: 20px;
  text-align: center;
  color: darkblue;
}

.wrong {
  background-color: #a51b1b;
  color: #fff;
}

#num {
  color: darkblue;
}